{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block search %}
<div class="row d-flex align-items-stretch mt-5"></div>
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Insert plate</h5>
                    <form onsubmit="searchPlate();return false">
                        <label for="plate">Plate number:</label>
                        <input name="plate" class="form-control form-control-lg" type="text" id="plate">
                        <label for="levenshtein">Levenshtein number:</label>
                        <input name="levenshtein" class="form-control form-control-lg" type="number" id="levenshtein" min="0">
                        <input type="submit" value="Search" class="mx-1 btn btn-info btn-lg mt-3">
                    </form>
                    <b><p id="searchPlateResponse"></p></b>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <div class="overflow-auto table-responsive" style="overflow-y: scroll; height:350px;">
              <table class="table">
                  <thead class='thead-dark' style="padding: 1rem;">
                    <tr>
                      <th style="width: 25%">ID</th>
                      <th style="width: 35%">Plate</th>
                      <th style="width: 40%">Timestamp</th>
                    </tr>
                  </thead>
                  <tbody id="platesList">
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}